<section class="form-section">
  <div class="form-container">
    <div class="form-page">
      <div class="auth-form">
          <%= form_for(@profile) do |f| %>
          <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
              <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <h2>Update Your Profile</h2></br>

          <%= f.label :avatar, class: "avatar-profile" do %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>

          <% if current_user.has_role? :Professional %>

            <%= f.text_field :firmname, placeholder: "Firm/Company Name", required: true %>
            <%= f.text_field :fname, placeholder: "First Name" %>
            <%= f.text_field :lname, placeholder: "Last Name" %>
            <%= f.text_field :address, placeholder: "Address", required: true %>
            <%= f.text_field :license_no, placeholder: "License Number" %>
            <label class="form-label">Service: </label>
            <%= f.select :service, options_for_select([['Architect'], ['Interior Designer'], ['Interior Designing Firm'], ['Architectural Firm'], ['Design & Build Firm'], ['Landscape Architect'],['General Contractor']]), required: true %>
            <label class="form-label">Service Provided Before: </label>
            <%= f.text_field :service_provided, placeholder: "Interior designing, Full scale houses, Autocad services, etc.." %>

            <%= f.text_field :areas_served, placeholder: "Areas/Cities Served" %>
            
            <%= f.telephone_field :contactno, placeholder: "Phone Number" %>
            <%= f.text_field :awards, placeholder: "Awards / Certificate" %>
            <%= f.text_field :fbacc, placeholder: "Facebook Account" %>
            <%= f.text_field :twacc, placeholder: "Twitter Account" %>
            <%= f.text_field :website, placeholder: "Website Url" %>
            <%= f.text_area :description, placeholder: "Short Description", class: "form-description" %>

          <% elsif current_user.has_role? :Client %>

            <%= f.text_field :occupation, placeholder: "Occupation" %>

            <%= f.text_field :fname, placeholder: "First Name", required: true %>
            <%= f.text_field :lname, placeholder: "Last Name", required: true %>

            <label class="form-label-profile">Birthday: </label>
            <div class="birthdate-field">
              <%= f.date_select :birthdate, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
            </div>

            <label class="form-label">Gender: </label>
            <%= f.select(:sex, options_for_select([['Male'], ['Female']]), required: true, class: "full-width-select" )%>
            <%= f.text_field :fbacc, placeholder: "Facebook Account" %>
            <%= f.text_field :twacc, placeholder: "Twitter Account" %>
            <%= f.text_field :website, placeholder: "Website Url" %>
            <%= f.text_area :description, placeholder: "Short Description", class: "form-description" %>

          <% end %>

          <div class="actions">
            <%= f.submit "UPDATE", class: "submit-action" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
