<section class="form-section">
  <div class="form-container">
    <div class="form-page">
      <div class="auth-form">
          <%= form_for(@profile) do |f| %>
          <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
              <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <h2>Update Your Profile</h2></br>

          <%= f.label :avatar, class: "avatar-profile" do %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>

          <%= f.text_field :fname, placeholder: "First Name", required: true %>
          <%= f.text_field :lname, placeholder: "Last Name", required: true %>
          <%= f.text_field :address, placeholder: "Address", required: true %>

          <% if current_user.has_role? :Professional %>

            <%= f.text_field :areas_served, placeholder: "Areas/Cities Served" %>
            <%= f.text_field :license_no, placeholder: "License Number" %>

            <label class="form-label">Service: </label>
            <%= f.select :service, options_for_select([['Architect'], ['Interior Designer'], ['General Contractor'], ['Design & Build Firm']]), required: true %>
            <label class="form-label">Service Provided Before: </label>
            <%= f.text_field :service_provided, placeholder: "Interior designing, Full scale houses, Autocad services, etc.." %>
            
            <%= f.telephone_field :contactno, placeholder: "Phone Number" %>
            <%= f.text_field :awards, placeholder: "Awards / Certificate" %>
            <%= f.text_area :description, placeholder: "Short Description", class: "form-description" %>
            
          <% elsif current_user.has_role? :Professional %>

          <% end %>

          <div class="actions">
            <%= f.submit "UPDATE", class: "submit-action" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
