<section class="profile-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 sidebar ">
        <div class="portfolio-section wow fadeInDown" data-wow-delay="0.3s">
          <div class="portfolio-container">  
            <div class="portfolio-avatar">
              <% if @profile.avatar.blank? %>
                <img src="https://s25.postimg.org/d8ua0awj3/13672276_10202065347873149_1662064195_n.jpg" class="img-default"></img>
              <% else %>
                 <%= image_tag @profile.avatar.url(:small)%>
              <% end %>
            </div>
            <div class="portfolio-name">
              <% if @profile.fname.blank? or @profile.lname.blank? %>
                <h4> <%= @profile.user.email %> </h4>
              <% else %>

              <h2><%= full_name_portfolio %></h2>
              <% end %>
              <% if @profile.user.has_role? :Professional %>
                <span class="portfolio-service"><%= @profile.service %></span>
                <%if @profile.reviews.blank? %>
                  <div hidden></div>
                <% else %>
                  <div class="average-review-rating" data-score="<%= @average_reviews %>" ></div>
                <% end %>

              <% end %>
            </div></br>
            <div class="portfolio-description">
              <p class="minimize text-center">
                <%= @profile.description %>
              </p> </br>
            </div>
            <div class="portfolio-divider"></div>
            <div class="portfolio-details-container">

              <div class="portfolio-details-section">
                <span class="label"> Email: </span></br>
                <span class="portfolio-field"><%= @profile.user.email %></span>
              </div>

              <div class="portfolio-details-section">
                <span class="label"> Address: </span> </br>
                <span class="portfolio-field"><%= @profile.address %></span>
              </div>
              <% if @profile.user.has_role? :Professional %>
                <% if @profile.service_provided.blank? %>
                  <div class="portfolio-details-section" hidden >
                    <span class="label" hidden > Service Provided: </span> </br>
                    <span class="portfolio-field" hidden ><%= @profile.service_provided %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> Service Provided: </span> </br>
                    <span class="portfolio-field"><%= @profile.service_provided %></span>
                  </div>
                <% end %>

                <% if @profile.areas_served.blank? %>
                  <div class="portfolio-details-section" hidden >
                    <span class="label" hidden > Areas Served: </span> </br>
                    <span class="portfolio-field" hidden ><%= @profile.areas_served %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> Areas Served: </span> </br>
                    <span class="portfolio-field"><%= @profile.areas_served %></span>
                  </div>
                <% end %>

                <% if @profile.license_no.blank? %>
                  <div class="portfolio-details-section" hidden>
                    <span class="label" hidden> License Number: </span></br>
                    <span class="portfolio-field" hidden ><%= @profile.license_no %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> License Number: </span></br>
                    <span class="portfolio-field"><%= @profile.license_no %></span>
                  </div>
                <% end %>

                <%if @profile.awards.blank? %>
                  <div class="portfolio-details-section" hidden>
                    <span class="label" hidden> Awards: </span></br>
                    <span class="portfolio-field" hidden><%= @profile.awards %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> Awards: </span></br>
                    <span class="portfolio-field"><%= @profile.awards %></span>
                  </div>
                <% end %>

                <div class="link-to-contacts">
                  <%= link_to "Contact Me", new_profile_contact_path(@profile), class: "btn btn-default btn-project-open btn-block" %>
                </div>

                
              <% elsif @profile.user.has_role? :Client %>

                <% if @profile.sex.blank? %>
                  <div class="portfolio-details-section" hidden >
                    <span class="label" hidden > Gender: </span> </br>
                    <span class="portfolio-field" hidden ><%= @profile.sex %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> Gender: </span> </br>
                    <span class="portfolio-field"><%= @profile.sex %></span>
                  </div>
                <% end %>

                <% if @profile.birthdate.blank? %>
                  <div class="portfolio-details-section" hidden>
                    <span class="label" hidden> Birthday: </span></br>
                    <span class="portfolio-field" hidden ><%= @profile.birthdate %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label">  Birthday: </span></br>
                    <span class="portfolio-field"><%= @profile.birthdate %></span>
                  </div>
                <% end %>

                <%if @profile.occupation.blank? %>
                  <div class="portfolio-details-section" hidden>
                    <span class="label" hidden> Occupation: </span></br>
                    <span class="portfolio-field" hidden><%= @profile.occupation %></span>
                  </div>
                <% else %>
                  <div class="portfolio-details-section">
                    <span class="label"> Occupation: </span></br>
                    <span class="portfolio-field"><%= @profile.occupation %></span>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div> </br>

        <% if @profile.user.has_role? :Professional %>
          <div class="gallery-container wow fadeInUp" data-wow-delay="0.5s">
            <div class="gallery-section">
              <h2 class="gallery-sign">Project Gallery</h2></br>
              <ul id="lightGallery" class="flex-gallery">
              <% @gallery.each do |gallery| %>
                  <li class="gallery-flex" data-src="<%= gallery.picture.url %>">
                      <%= image_tag gallery.picture.url(:small), class: "img-responsive" %>
                  </li>
              <% end %>
            </ul>
            </div>
          </div>

          <div class="gallery-container wow fadeInUp" data-wow-delay="0.9s">
            <div class="gallery-section">
              <h2 class="gallery-sign"> <%= @profile.reviews.count %> Reviews </h2></br>
                <%= render @reviews = @profile.reviews.order("created_at DESC").paginate(:page => params[:page], :per_page => 3) %>

                <%= will_paginate @reviews %>

                <div>
                  <%= link_to "Add Reviews", new_profile_review_path(@profile), class: "btn btn-default btn-project-open" %> 
                </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-8 col-sm-12 main-bg">
        <% @projects.each do |project| %>
          <div class="project-container-profile">
            <div class="project-card-profile wow fadeIn" data-wow-delay="0.8s">
              <div class="img-container-projects">
                <%= image_tag project.picture.url(:medium), class: "img-responsive" %>
                  <% if user_signed_in? and current_user.id == project.user.id %>
                    <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-embed-trash btn btn-danger" do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to edit_project_path( project ), class: "btn-embed-edit btn btn-success" do %>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <% end %>
                  <% end %>

                <div class="like-section">
                  <%= link_to like_project_path(project),  class: "like-show-profile btn pull-right", method: :put do %>
                    <button type="button" class="btn btn-like" aria-label="Left Align">
                      <span class="fa fa-heart glyphicon-align-center" aria-hidden="true"></span>
                      <span class="badge"><%= project.get_upvotes.size %></span>
                    </button>
                  <% end %>
                </div>

              </div>
              <div class="details-container-projects">
                  <h2 class="project-title-details"><%= project.title %></h2>
                  <div class="details-section-projects">
                    <div class="minimize">
                      <h5><%= project.description %></h5>
                  </div>
                  <%= link_to 'OPEN PROJECT', project_path( project ), class: "btn btn-default btn-project-open" %>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate @projects, previous_label: "New", next_label: "Older" %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $("#lightGallery").lightGallery();

    $('.minimize').readmore({
      speed: 400,
      lessLink: '<a href="#" class="text-center">Close</a>',
      moreLink: '<a href="#" class="text-center">Read more</a>'
    });

    $('.review-rating').raty({
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');
      },
      starHalf: 'fa fa-fw fa-star-half-o',
      starOff: 'fa fa-fw fa-star-o',
      starOn: 'fa fa-fw fa-star'
    });

    $('.average-review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score')
    },
      starHalf: 'fa fa-fw fa-star-half-o fa-2x star-color',
      starOff: 'fa fa-fw fa-star-o fa-2x star-color',
      starOn: 'fa fa-fw fa-star fa-2x star-color'
    }); 

  });

</script>