<section class="login-section">
  <div class="login-page">
    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <h2>Sign up</h2></br>

        <label class="form-label">I am a </label>
        <%= f.select :roles ,options_from_collection_for_select(Role.all,:name, :name ), required: true%>

        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>

        <div class="actions">
          <%= f.submit "Register", class: "submit-action" %>
        </div>
      <% end %>
    </div>
  </div>
</section>