<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3>Seembu automated mailer</h3>
    ----
    <p>
    <strong>Name:</strong> <%= @contact.name %>
    </p>
    <p>
    <strong>Reason For Contact:</strong> <%= @contact.reason %>
    </p>
    <p>
        <strong>
            Content Message:
        </strong>
    </p>
    <p> 
    <%= @contact.content %>
    </p>
    ----
    <h4>
        Please reply to the person with this contact infomation provided.
    </h4>
    <p>
    <strong>Number Of The Sender:</strong> <%= @contact.number %>
    </p>

    <p>
    <strong>Email Of Sender:</strong> <%= @contact.sender_email %>
    </p>
    ----
    <p>##End of message##</p>

  </body>
</html>