<section class="form-section">
  <div class="form-container">
    <div class="form-page">
      <div class="auth-form">
          <%= form_for(@project, :html => { :multipart => true }) do |f| %>
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <h2>Post Your Project</h2></br>

          <%= f.fields_for :project_attachments do |p| %>
           <div class="field">
             <%= p.file_field :picture, :multiple => true, name: "project_attachments[picture][]" %>
           </div>
         <% end %>
         
          <%= f.text_field :title, placeholder: "Title Of This Project", required: true %>

          <label class="form-label">Room Size: </label>
          <%= f.select(:size, options_for_select([['Compact'], ['Medium'], ['Large'], ['Expansive']]), required: true, class: "full-width-select")%>
          <label class="form-label">Type of Project: </label>
          <%= f.select(:project_type, options_for_select([['Residential'], ['Commercial'], ['Office']]), required: true, class: "full-width-select" )%>

          <%= f.text_field :year_finished, placeholder: "Year Finished", required: true %>
          <%= f.text_field :location, placeholder: "City", required: true %>
          <%= f.text_field :style, placeholder: "Style / Theme" %>

          <%= f.text_area :description, placeholder: "Short Description", class: "form-description" %>

          <div class="actions">
            <%= f.submit "POST", class: "submit-action" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>