<section class="login-section">
  <div class="login-page">
    <div class="form">
      <%= form_for(resource, as: resource_name, class: "login-form", url: session_path(resource_name)) do |f| %>
        <h2>Log In</h2></br>
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <% if devise_mapping.rememberable? %>
          <div class="rememberme-field">
            <%= f.check_box :remember_me, class: "checkbox_rememberme" %>
            <%= f.label :remember_me %>
          </div></br>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "submit-action" %>
        </div>
        <p class="message">Not registered? <%= link_to 'Register Now', new_user_registration_path %></p></br>
        <p class="message">Forget password? <%= link_to 'Password Recover', new_password_path('user') %></p>
      <% end %>
    </div>
  </div>
</section>