<!DOCTYPE html>
<html>
<head>
  <title>Seembu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' name='viewport'>
  <meta charset='utf-8'>

  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://npmcdn.com/flickity@2.0/dist/flickity.css" media="screen">

</head>
<!-- <body oncontextmenu="return false;"> -->
<body oncontextmenu="return false;" >

  <% if user_signed_in? %>
    <%= render 'layouts/navbar' %>
  <% else %>
    <%= render 'layouts/navbar_primary' %>
  <% end %>
  
  <%= render 'layouts/messages' %>
  <%= yield %>
</body>
</html>
